/*---index----*/
.inicio {
    width: 100%;
    height: 500px;
    background-image: url("../img/fondo-tortas.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        text-align: center;
        color: $color-white;
        background-color: rgba(0, 0, 0, 0.445);
        border: 2px solid white;
        padding: 5px;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 990;
        font-size: 50px;
    }

    p {
        font-size: 25px;
        font-family: 'Fuggles', cursive;
        font-style: italic;
        background-color: rgba(0, 0, 0, 0.479);
        color: $color-white;
        border: 2px solid rgb(255, 255, 255);
        padding: 5px;
        margin: 10px;
    }
}

.conocenos {
    background-color: $color-white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

    div {
        width: 50;
        flex-wrap: wrap;

        h2 {
            color: $color-black;
            font-family: 'Courier New', Courier, monospace;
            font-weight: 1000;
            font-size: 40px;
        }

        p {
            color: $color-black;
            font-size: 25px;
        }
    }

    img {
        border: 5px solid black;
    }
}

/* Main-productos */
.productos {
    background-color: $color-black;
    height: 500px;

    h2 {
        color: $color-white;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 990;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .tarjetas {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        font-family: 'Courier New', Courier, monospace;

        div {
            text-align: center;
            border: 5px solid $color-white;
            padding: 5px;

            h3 {
                color: $color-white;
                text-align: center;
                padding-bottom: 5px;
                font-size: 15px;
            }

            img {
                height: 300px;
                width: 100%;
            }

            a {
                text-decoration: none;
                background-color: $color-white;
                color: $color-black;
                padding: 5px 5px 5px 5px;

                &:hover {
                    color: $color-white;
                    background-color: $color-black;
                }
            }
        }

        form {
            display: flex;
            margin: 5px;
            padding: 5px;
        }
    }
}

/* Productos file main */
.productos-pages {
    align-items: center;
    height: 700px;
    margin: 0;
    transition: transform 0.3s ease;

    h2 {
        color: $color-white;
        background-color: $color-black;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 990;
        padding-top: 10px;
        padding-bottom: 0;
    }
}

/* Estilo para la galería de imágenes */
.gallery {
    height: 450px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 400px);
    grid-template-rows: repeat(4, 300px);
    gap: 10px;

    .image {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;

        &:hover {
            transform: scale(1.05);
        }

        img {
            padding: 5px;
            max-width: 400px;
            max-height: 300px;
            border: 5px solid $color-black;
        }
    }
}



/* Tortas */
.tortas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Courier New', Courier, monospace;

    h2 {
        color: $color-white;
        background-color: $color-black;
        height: 100%;
        width: 100%;
        text-align: center;
    }

    div {
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        border: 5px solid white;
        padding: 5px;

        p {
            color: $color-black;
            text-align: center;
            padding-bottom: 5px;
            font-size: 25px;
        }

        img {
            border: 15px solid $color-black;
            height: 250px;
            width: 250px;
        }
    }
}

/*Bebidas*/

.servicios-cafe {
    background-color: $color-white;
    text-align: center;

    h2 {
        color: $color-white;
        background-color: $color-black;
        font-size: 40px;
    }
}

.container {
    display: flex;
    justify-content: space-between;
    width: 800px;
    background-color: $color-white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: $color-black;
}

.item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    transition: transform 0.3s ease;

    img {
        max-width: 100%;
        height: auto;
    }

    h2 {
        margin-top: 10px;
        font-size: 1.5rem;
        text-align: center;
    }

    &:hover {
        transform: scale(1.05);
    }
}

.box-section {
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    z-index: 0
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.box {
    display: flex;
    flex-direction: row;
}

.image-box {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transform: translateX(100%);
    animation: slideIn 1s forwards;
    animation-delay: 0.5s;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

img {
    max-width: 100%;
    max-height: 100%;
}

p {
    margin-top: 10px;
}

/*Nosotros*/

.nosotros-pages {
    text-align: center;
    background-color: $color-white;

    h2 {
        color: $color-white;
        background-color: $color-black;
        font-size: 40px;
    }

    .caja-contenedora {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex: 1;
        margin: 20px;
        overflow: hidden;
        position: relative;
        border: 5px solid $color-black;

        img {
            width: 35%;
            height: 350px;
            transition: transform 0.3s ease-in-out;
        }

        p {
            color: $color-white;
            background-color: $color-black;
            padding: 10px;
            flex: 1;
            font-size: 25px;
        }

        &:hover {
            img {
                transform: scale(1.1);
            }

            .info-btn {
                background-color: darken($color-darkgrey, 10%);
            }
        }
    }

    .caja-contenedora-mapa {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex: 1;
        margin: 20px;
        overflow: hidden;
        position: relative;
        width: 98%;
        border: 2px solid $color-black;

        h3 {
            color: $color-black;
            background-color: $color-darkgrey;
            padding: 10px;
            flex: 1;
        }
    }
}


/*----Contacto---*/
.contacto {
    max-width: 75%;
    height: 750px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-image: url("../img/fondo-tortas.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    h2 {
        color: $color-white;
        background-color: $color-black;
        font-size: 40px;
        text-align: center;
    }

    form {
        display: grid;
        gap: 15px;

        label {
            color: $color-white;
            font-size: 25px;
            font-weight: bold;
        }

        input,
        textarea {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
        }

        button {
            background-color: $color-black;
            color: $color-white;
            padding: 10px;
            border: none;
            border-radius: 5px;
            font-size: 25px;
            cursor: pointer;
        }
    }
}